.obj-watcher {
  container-type: inline-size;
}

.obj-width-limiter {
  margin: 0 auto;
  width: clamp(18rem, calc(100% - 2rem), 100rem);
}

.obj-width-header {
  margin: 0 auto;
  width: clamp(18rem, calc(100% - 2rem), 70rem);
}

.obj-width-writing,
.obj-width-article,
.obj-width-listing {
  margin: 0 auto;
  width: clamp(18rem, calc(100% - 2rem), 60rem);
}

.obj-width-post,
.obj-width-micro,
.obj-width-photo,
.obj-width-book,
.obj-width-twitter,
.obj-width-check-in {
  margin: 0 auto;
  width: clamp(18rem, calc(100% - 2rem), 50rem);
}

.obj-spacing-post {
  & + & {
    margin-top: calc(var(--gradient-padding) * 0.75);
  }
}

.obj-width-content,
.obj-content-width {
  margin: 0 auto;
  width: clamp(18rem, calc(100% - 2rem), 80ch);
}

.obj-block {
  padding: calc(var(--gradient-padding) * 0.25) 0;

  @media (min-width: $md) {
    padding: calc(var(--gradient-padding) * 1.5) 0;
  }
}

.obj-block-content {
  @media (min-width: $md) {
    padding: var(--space-lg);
  }
}
