.cmp-footer {
  width: 100%;
  margin: var(--space-lg) auto calc(var(--space-lg) * 2);
  text-align: center;

  &--mask {
    margin: var(--space-lg) auto 0;
    padding: calc( var(--gradient-padding) * 2 ) 0 calc(var(--gradient-padding) * 0.5 ) ;
    background-color: var(--color-background);
    mask-image: linear-gradient(2deg, #000 50%, #0008 calc(50% + 1px), #0008 calc(50% + 9px), #0000 calc(50% + 10px));
  }

  p {
    margin: 0;
    font-size: var(--font-sm);
  }
}
