$logo-start: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 184 200">';
$logo-end: '</svg>';
$logo-top: $logo-start + '<path d="M181.7 50h-160s-9.99 0-10-9.99V10C11.72 0 21.7 0 21.7 0h120.28c6.03 0 11.63 3.17 14.73 8.34l25 41.66z"/>' + $logo-end;
$logo-bottom: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -150 184 200">' + '<path d="M0 0h164s10 0 10 10v30c0 10-10 10-10 10H40c-6 0-12-3-15-9L0 0z"/>' + $logo-end;
$logo-diagonal: $logo-start + '<path d="M173.59 65.99a29.03 29.03 0 005.69-36.7L172 17.14A35.31 35.31 0 00142.68.03c8.93.57 7.5 9.08-1.54 18.12L9.82 134a29.03 29.03 0 00-5.68 36.7l7.28 12.14a35.3 35.3 0 0029.31 17.12c-8.93-.57-7.5-9.08 1.54-18.12L173.6 66z"/>' + $logo-end;

.cmp-logo {
  width: var(--logo-size);
  height: calc((200 / 184) * var(--logo-size));
  position: relative;
  will-change: transform;
  filter:
    drop-shadow(0 -1px 0 hsla(0, 0%, 100%, 0.3))
    drop-shadow(0 1px 0 hsla(0, 0%, 0%, 0.3))
    drop-shadow(0 4px 8px hsla(0, 0%, 0%, 0.3));

  &--shadow {
    filter: 
      drop-shadow(0 1em 1em rgba(0,0,0,0.5))
      drop-shadow(0 2em 4em rgba(0,0,0,0.3));
    @include color-mode(dark) {
      filter:
        drop-shadow(0 0.125em 0.25em rgba(0,0,0,0.75))
        drop-shadow(0 0.5em 1em rgba(0,0,0,0.5));
    }
    
  }
  &__top,
  &__bottom,
  &__diagonal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    mask-size: contain;
    mask-repeat: no-repeat;
  }

  &__top {
    mask-image: svg($logo-top);
    background:
      linear-gradient(138.5deg,
        rgba(darken(#842217, 5%), 0) 36%,
        darken(#842217, 5%) 46%
      ),
      linear-gradient(138.5deg,
        rgba(#842217, 0) 35%,
        #842217 50%
      ),
      linear-gradient(100deg,
        #ffc46c 10%,
        #ec8051 30%,
        #ab392b 60%,
        #842217 70%
      )
    ;
  }

  &__bottom {
    mask-image: svg($logo-bottom);
    background:
      radial-gradient(circle at 100% 80%, var(--color-primary) 2%, rgba(#9e2882, 0) 35%),
      linear-gradient(318.5deg,
        rgba(darken(#26001c, 5%), 0) 36%,
        darken(#26001c, 5%) 46%
      ),
      linear-gradient(280deg,
        #802873 10%,
        #6e0064 30%,
        #26001c 60%
      );
  }
  &__diagonal {
    mask-image: svg($logo-diagonal);
    background:
      radial-gradient(circle at 90% 5%, #eca76a 2%, rgba(#eca76a, 0) 30%),
      radial-gradient(circle at 25% 125%, darken(#780d5c, 15%) 0%, rgba(darken(#780d5c, 15%), 0) 50%),
      radial-gradient(circle at 15% 100%, #780d5c 0%, rgba(#780d5c, 0) 30%),
      linear-gradient(41.5deg, var(--color-primary) 20%, var(--color-secondary) 70%);
  }
}