.cmp-pagination {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  position: relative;
  z-index: var(--z-3);
  border-radius: var(--space-md);
  color: var(--color-text);
  background-color: hsl(208, 5%, 100%);
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 50%, 0.1), inset 0 0 0 1px hsl(0, 100%, 100%), inset 0 0 2rem hsla(208, 5%, 85%, 0.5), 0 2rem 2rem -1rem hsla(0, 0%, 0%, 0.5);
  
  @include color-mode('dark') {
    background-color: hsl(208, 5%, 15%);
    box-shadow: inset 0 0 0 2px hsla(0, 0%, 50%, 0.1), inset 0 0 0 1px hsl(208, 5%, 15%), inset 0 0 2rem hsl(208, 5%, 15%), 0 2rem 2rem -1rem hsla(0, 0%, 0%, 0.5);
  }
  
  @supports (backdrop-filter: blur(1px)) {
    backdrop-filter: blur(2rem);
    background-color: hsla(208, 5%, 100%, 0.9);
  
    @include color-mode('dark') {
      background-color: hsla(208, 5%, 15%, 0.9); 
    }
  }
  
  &__link {
    font-size: 1.25rem;
    padding: var(--space-sm) var(--space-lg);
    text-decoration: underline;
    
    &:hover {
      text-decoration: none;
    }
  }
    
  &__status {
    font-size: 1.25rem;
    padding: var(--space-sm) var(--space-lg);
  }
}