.cmp-post {
  position: relative;
  z-index: var(--z-3);
  padding: var(--space-md) var(--space-sm);
  border-radius: var(--space-md);
  color: var(--color-text);
  background-color: hsl(208, 5%, 100%);
  box-shadow: inset 0 0 0 2px hsla(0, 0%, 50%, 0.1), inset 0 0 0 1px hsl(0, 100%, 100%), inset 0 0 2rem hsla(208, 5%, 85%, 0.5), 0 2rem 2rem -1rem hsla(0, 0%, 0%, 0.5);
   
  & + & {
    margin-top: calc(var(--gradient-padding) * 0.75);
  }
  
  @media (min-width: $md) {
    padding: var(--space-lg);
  }
  
  @media (prefers-color-scheme: dark) {
    background-color: hsl(208, 5%, 15%);
    box-shadow: inset 0 0 0 2px hsla(0, 0%, 50%, 0.1), inset 0 0 0 1px hsl(208, 5%, 15%), inset 0 0 2rem hsl(208, 5%, 15%), 0 2rem 2rem -1rem hsla(0, 0%, 0%, 0.5);
  }
  
  @supports (backdrop-filter: blur(1px)) {
    backdrop-filter: blur(2rem);
    background-color: hsla(208, 5%, 100%, 0.9);
  
    @media (prefers-color-scheme: dark) {
      background-color: hsla(208, 5%, 15%, 0.9); 
    }
  }
 
  &--micro {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  & + & {
    border-top: 1px solid hsla(0, 0%, 100%, 0.1);
    box-shadow: 0 -1px hsla(0, 0%, 0%, 0.6);
    padding-top: 8rem;
    margin-top: 8rem;
  }
}
