.cmp-site-header {
  --logo-size: 6rem;
  display: flex;
  align-items: center;
  background-color: var(--color-background);
  padding: calc(var(--logo-size) * 0.5) 0 calc(var(--logo-size) * 2.5);

  &--home {
    --logo-size: 20vw;
    padding: max(4vh, 1.5rem) 0;

    @media (min-width: $md) {
      margin: max(10vh, 4rem) 0 max(20vh, 8rem);
    }
  }

  &--mask {
    mask-image:
      linear-gradient(
        178deg,
        #000 50%,
        #0008 calc(50% + 1px),
        #0008 calc(50% + 9px),
        #0000 calc(50% + 10px));
  }

  &__logo {
    margin-right: calc(var(--logo-size) * 0.375);
    will-change: auto;
    display: block;
    width: var(--logo-size);
    height: calc((200 / 184) * var(--logo-size));

    @media (prefers-reduced-motion) {
      transition: filter var(--animation-duration) ease;
    }

    .safe-focus &:focus,
    &:focus,
    &:hover {
      box-shadow: none;
      filter: brightness(40%) grayscale(100%);

      @media (prefers-color-scheme: dark) {
        filter: brightness(70%) grayscale(100%);
      }
    }
  }

  &__title {
    font-family: var(--extended);
    font-weight: var(--weight-light);
    line-height: 1.2;
    margin: 0;
    font-size: clamp(2rem, 4vw, 4rem);
  }

  &--home &__title {
    font-size: clamp(1rem, 5vw, 5rem);
  }

  &__description {
    margin: 0;
    font-size: clamp(0.75rem, 3vw, 3rem);
    line-height: 1.2;
    font-family: var(--extended);
    font-weight: var(--weight-light);
    color: var(--color-midtone);
  }

  &__content {
    display: grid;
    align-items: center;
    gap: clamp(1.5rem, 2vw, 2.5rem);
    grid-template-columns: var(--logo-size) auto;
  }
}
