.cmp-video-list {
  list-style: none;
  margin: 0;
  padding: 0;;
  display: grid;
  gap: 1rem;

  @media(min-width: $md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(min-width: $lg) {
    gap: 1.5rem;
  }

  @media(min-width: $xl) {
    gap: 2.25rem;
  }

  &__item {
    display: flex;
    align-items: stretch;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: hsl(208deg 5% 100% / 80%);
    box-shadow:
      0 0 0 0 hsl(320deg 80% 45% / 30%) inset,
      0 0.5rem 1rem hsl(208deg 5% 0% / 10%);
    padding: var(--space-md);
    border-radius: var(--space-sm);
    color: var(--color-text);
    transition: box-shadow var(--animation-duration) var(--animation-timing);
    will-change: opacity;

    @media (prefers-color-scheme: dark) {
      background-color: hsl(0deg 0% 0% / 40%);
    }

    .safe-focus &:focus,
    &:focus,
    &:hover {
      box-shadow:
        0 0 0 5px hsl(320deg 80% 45%) inset,
        0 0.5rem 1rem hsl(208deg 5% 0% / 10%);
    }
  }

  &__image {
    display: block;
    border: 1px solid hsl(0deg 0% 0% / 70%);
    border-radius: var(--space-1xs);
  }

  &__title {
    font-size: var(--font-sm);
    font-weight: var(--weight-regular);
    line-height: 1.2;
    margin: 0 0 0.5em;
    color: inherit;
  }
}
