{{ define "main" }}
<div class="obj-gradient-block">
  <div class="obj-gradient-block__interior">
    <div class="obj-width-listing">
      <div class="obj-gradient-block__content">
        <header>
          <h1 class="cmp-title">{{.Title}}</h1>
          {{if .Content}}
          <div>
            {{.Content}}
          </div>
          {{end}}
        </header>
        {{ range $.Site.Data.external_articles }}
          <div class="cmp-article-item">
            <h2 class="cmp-article-item__title">
              <a class="cmp-article-item__link" href="{{ .link }}">
                {{ .title }}
              </a>
            </h2>
            <p class="cmp-article-item__meta">
              {{ $date := time (.date)}}
              <time datetime="{{time.Format "2006-01-02" $date}}" class="cmp-article-item__date">{{ time.Format "2 January 2006" $date }}</time>
              <span class="cmp-article-item__source">
                {{ .source }}
              </span>
            </p>
            {{ if .additional_authors }}
              <p class="cmp-article-item__collaborators">
                Written in collaboration with
                {{ range .additional_authors }}
                  {{ . }}
                {{ end }}
              </p>
            {{ end }}
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
