{{ define "main" }}
{{ partial "home-header.html" . }}

<article class="obj-gradient-block">
  <div class="obj-gradient-block__interior">
    <div class="obj-width-limiter">
      <div class="obj-gradient-block__content">
        <header>
          <h2 class="cmp-title">Writing</h2>
        </header>
        <div class="obj-grid">
          <div class="obj-grid__col obj-grid__col--half">
            {{ partial "css-series-list.html" . }}
          </div>
          <div class="obj-grid__col obj-grid__col--half">
            {{ partial "external-articles-list.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="obj-block">
  <div class="obj-width-limiter">
    <div class="obj-block-content">
      {{ partial "projects.html" . }}
    </div>
  </div>
</article>

<article class="obj-gradient-block">
  <div class="obj-gradient-block__interior">
    <div class="obj-width-limiter">
      <div class="obj-gradient-block__content">
        <header>
          <h2 class="cmp-title">Videos and Presentations</h2>
        </header>
          {{ partial "videos.html" . }}
        </div>
      </div>
    </div>
  </div>
</article>

<article class="obj-block">
  <div class="obj-width-limiter">
    <div class="obj-block-content">
      {{ partial "about.html" }}
    </div>
  </div>
</article>

{{ end }}