{{ define "main" }}
  {{ $paginator := .Paginator }}
  <div>
    <div class="util-margin-bottom-1xl">
      {{ partial "pagination.html" . }}
    </div>
    {{ .Scratch.Set "index" 0 }}
    {{ range (.Paginator 20).Pages }}
      {{- $.Scratch.Set "index" (add ($.Scratch.Get "index") 1) -}}
      {{- .Scratch.Set "index" ($.Scratch.Get "index") -}}
      {{- $i := $.Scratch.Get "index" -}}
      {{- $gt := gt $i ( mul 2 ( math.Floor ( div $i 2.0 ) ) ) -}}

      {{ .Scratch.Set "tag" "content"}}

      {{ range .Params.tags }}{{ $.Scratch.Set "tag" (lower .) }}{{end}}

      {{ $tag := $.Scratch.Get "tag" }}

      {{- if $gt -}}{{- "" -}}{{- else -}}{{- "" -}}{{- end -}}
      {{ if (ne $tag "")}}{{- "" -}}{{ end }}

      <div class="obj-spacing-post{{ if (ne $tag "")}} obj-width-{{$tag}}{{ end }}">
        <section class="cmp-post">
          {{- if .Title -}}
          <h2>
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h2>
          {{- end -}}
          {{- if .Date -}}
          <div class="cmp-post__meta">
            <a href="{{ .RelPermalink }}">
              <time datetime="{{ .Date }}">
                {{ .Date.Format "2 January 2006" }}
              </time>
            </a>
          </div>
          {{- end -}}
          {{ .Content }}
        </section>
      </div>

      {{- if $gt -}}{{- "" -}}{{- else -}}{{- "" -}}{{- end -}}

    {{ end }}
    <div class="util-margin-top-1xl">
      {{ partial "pagination.html" . }}
    </div>
  </div>
{{ end }}
