{{ define "main" }}
<article class="cmp-post {{- range .Params.tags }}
  {{- $.Scratch.Set "tag" (lower .) -}}
  {{- $tag := $.Scratch.Get "tag" }}
  cmp-post--{{ $tag }}
{{- end -}}{{ if not (in .Params "tags")}} cmp-post--writing{{end}}">
  <div class="{{- range .Params.tags }}
    {{- $.Scratch.Set "tag" (lower .) -}}
    {{- $tag := $.Scratch.Get "tag" -}}
    obj-width-{{ $tag }}
  {{- end -}}{{ if not (in .Params "tags")}} obj-width-writing{{end}}">
    <div class="cmp-post__container">
      {{- if .Title -}}
      <header class="cmp-post__header">
        <h2 class="cmp-post__title">
          {{ .Title }}
        </h2>
      </header>
      {{- end -}}
      {{- if .Date -}}
      <div class="cmp-post__meta">
        <a class="cmp-post__meta-link" href="{{ .RelPermalink }}">
          <time datetime="{{ .Date }}">
            {{ .Date.Format "2 January 2006" }}
          </time>
        </a>
      </div>
      {{- end -}}
      <div class="cmp-post__content">
        {{ .Content }}
      </div>
    </div>
  </div>
</article>
{{ end }}
