/* Font Families */
--sans-serif: proxima-nova, sans-serif;
--extended: termina, sans-serif;
--monospce: monospace;

/* Font Weights */
--weight-light: 300;
--weight-regular: 500;
--weight-medium: 600;
--weight-bold: 700;

/* Font Sizes */
--font-xs: 0.875rem;
--font-sm: 1rem;
--font-md: 1.125rem;
--font-lg: 1.5rem;
--font-xl: 2rem;

@media (min-width: $md) {
  --font-xs-base: 0.75;
  --font-sm-base: 1.125;
  --font-md-base: 1.25;
  --font-lg-base: 1.75;
  --font-xl-base: 2.5;

  --font-xs:
    clamp(
      0.875rem,
      calc((var(--font-xs-base) / 60) * 100vw),
      calc((var(--font-xs-base)  / 80) * 100rem)
    );
  --font-sm:
    clamp(
      1.125rem,
      calc((var(--font-sm-base) / 60) * 100vw),
      calc((var(--font-sm-base)  / 80) * 100rem)
    );
  --font-md:
    clamp(
      1.25rem,
      calc((var(--font-md-base) / 60) * 100vw),
      calc((var(--font-md-base)  / 80) * 100rem)

    );
  --font-lg:
    clamp(
      1.75rem,
      calc((var(--font-lg-base) / 60) * 100vw),
      calc((var(--font-lg-base)  / 80) * 100rem)

    );
  --font-xl:
    clamp(
      2.5rem,
      calc((var(--font-xl-base) / 60) * 100vw),
      calc((var(--font-xl-base)  / 80) * 100rem)

    );
}
