.cmp-chart-wrapper {
  max-width: 80%;
  margin:0 auto var(--space-lg);

  @container (min-width: $cont-sm) {
    max-width: 100%;
    margin: 0;
  }

  @supports not (container-type: inline-size) {
    max-width: 100%;
    margin: 0;
  }
}

.cmp-pie-chart {
  --object-planning: 0;
  --object-project-lead: 0;
  --object-design: 0;
  --object-development: 0;

  --total: calc(var(--object-planning) + var(--object-project-lead) + var(--object-design) + var(--object-development));

  --radius: 40%;

  --turn-1: calc((var(--object-planning) / var(--total)) * 360deg);
  --turn-2: calc(((var(--object-project-lead) / var(--total)) * 360deg) + var(--turn-1));
  --turn-3: calc(((var(--object-design) / var(--total)) * 360deg) + var(--turn-2));
  --turn-4: calc(((var(--object-development) / var(--total)) * 360deg) + var(--turn-3));

  position: relative;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;

  mask-image:
  radial-gradient(
    #0000 var(--radius),
    #0008 calc(var(--radius) + 1px),
    #0008 calc(var(--radius) + 4px),
    #000f calc(var(--radius) + 5px),
    #000f calc(70% - 5px),
    #0008 calc(70% - 4px),
    #0008 70%,
    #0000 calc(70% + 1px)
  );

  &::after {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__keys {
    list-style: none;
    margin: var(--space-md) 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }

  &__key {
    display: flex;
    position: relative;
    padding-left: var(--space-lg);

    &::before {
      content: '';
      display: block;
      left: 0;
      position: absolute;
      border-radius: 50%;
      box-shadow: inset 0 0 0 2px var(--color-bg-50);
      height: 1.5em;
      width: 1.5em;
      background-color: white;
    }

    &--planning::before {
      background: linear-gradient(
        to top left,
        hsl(320deg 80% 35%),
        hsl(320deg 90% 65%)
      )
    }
    &--project-lead::before {
      background: linear-gradient(
        to top left,
        hsl(20deg 80% 55%),
        hsl(45deg 80% 55%)
      );
    }
    &--design::before {
      background: linear-gradient(
        to top left,
        hsl(300deg 80% 24%),
        hsl(300deg 80% 35%)
      );
    }
    &--development::before {
      background: linear-gradient(
        to top left,
        hsl(208deg 80% 40%),
        hsl(208deg 100% 60%)
      );
    }
  }

  &__key-emphasis {
    margin-inline-end: 0.5ch;
    font-variation-settings: var(--primary-var-bold);
  }

  &__piece {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &--planning {
      background: radial-gradient(
        hsl(320deg 80% 35%) var(--radius),
        hsl(320deg 90% 65%) 65%,
        hsl(320deg 80% 45%) 80%
      );
      mask-image: conic-gradient(
        #000f 0deg,
        #000f var(--turn-1),
        #0000 var(--turn-1)
      );
    }

    &--project-lead {
      background: radial-gradient(
        hsl(20deg 80% 55%) var(--radius),
        hsl(45deg 80% 55%) 65%,
        hsl(35deg 80% 55%) 80%
      );
      mask-image: conic-gradient(
        #0000 0deg,
        #0000 var(--turn-1),
        #000f var(--turn-1),
        #000f var(--turn-2),
        #0000 var(--turn-2)
      );
    }

    &--design {
      background: radial-gradient(
        hsl(300deg 80% 24%) var(--radius),
        hsl(300deg 80% 35%) 65%,
        hsl(300deg 80% 30%) 80%
      );
      mask-image: conic-gradient(
        #0000 0deg,
        #0000 var(--turn-2),
        #000f var(--turn-2),
        #000f var(--turn-3),
        #0000 var(--turn-3)
      );
    }

    &--development {
      background: radial-gradient(
        hsl(208deg 80% 40%) var(--radius),
        hsl(208deg 100% 60%) 65%,
        hsl(208deg 90% 50%) 80%
      );
      mask-image: conic-gradient(
        #0000 0deg,
        #0000 var(--turn-3),
        #000f var(--turn-3),
        #000f var(--turn-4),
        #0000 var(--turn-4)
      );
    }
  }
}
