.cmp-post {
  position: relative;
  z-index: var(--z-3);
  padding: var(--space-md) var(--space-sm);
  border-radius: var(--space-md);
  color: var(--color-text);
  background-color: hsl(208, 5%, 100%);
  box-shadow:
    0 0 0 2px hsl(0deg 0% 50% / 10%) inset,
    0 0 0 1px hsl(0deg 100% 100%) inset,
    0 0 2rem hsl(208deg 5% 85% / 50%) inset,
    0 2rem 2rem -1rem hsl(0deg 0% 0% / 50%);

  & + & {
    margin-top: calc(var(--gradient-padding) * 0.75);
  }

  @media (min-width: $md) {
    padding: var(--space-lg);
  }

  @media (prefers-color-scheme: dark) {
    background-color: hsl(208deg 5% 15%);
    box-shadow:
      0 0 0 2px hsl(0deg 0% 50% / 10%) inset,
      0 0 0 1px hsl(208deg 5% 15%) inset,
      0 0 2rem hsl(208deg 5% 15%) inset,
      0 2rem 2rem -1rem hsl(0deg 0% 0% / 50%);
  }

  @supports (backdrop-filter: blur(1px)) {
    backdrop-filter: blur(2rem);
    background-color: hsl(208deg 5% 100% / 90%);

    @media (prefers-color-scheme: dark) {
      background-color: hsl(208deg 5% 15% / 90%);
    }
  }

  &--micro {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }

  & + & {
    border-top: 1px solid hsl(0deg 0% 100% / 10%);
    box-shadow: 0 -1px hsl(0deg 0% 0% / 60%);
    padding-top: 8rem;
    margin-top: 8rem;
  }
}
