:root {
  /* Colors */
  @import "root/_colors.css";

  /* Fonts */
  @import "root/_fonts.css";

  /* Z-Indicies */
  @import "root/_z-index.css";

  /* Spacing */
  @import "root/_spacing.css";

  /* Other Props */
  --gradient-padding: 10rem;
  --gradient: linear-gradient(170deg,
    var(--color-tertiary) 0%,
    var(--color-secondary) 10%,
    var(--color-primary) 75%,
    var(--color-quarternary) 100%
  );

  --animation-duration: 250ms;
  --animation-timing: cubic-bezier(0,1,0.5,1);

  @media (min-width: $lg) {
    --gradient-padding: 10vh;
  }
}
