<h3>Articles</h3>
<ul class="cmp-article-card">
  {{ range first 8 $.Site.Data.external_articles }}
  <li class="cmp-article-card__item">
    <a href="{{ .link }}" class="cmp-article-card__link" aria-label="Read {{ .title }} on {{ .source }}">
      {{ $date := time (.date)}}
      <span class="cmp-article-card__meta">
        <time datetime="{{time.Format "2006-01-02" $date}}" class="cmp-article-card__term">
          {{ time.Format "2 January 2006" $date }}
        </time>
        <span class="cmp-article-card__source" >
          {{ .source }}
        </span>
      </span>
      <span class="cmp-article-card__title">
        {{ .title }}
      </span>
    </a>
  </li>
  {{ end }}
</ul>

<a href="/articles" class="cmp-button">More Articles</a>
