<div class="obj-width-header">
  <div class="cmp-site-header cmp-site-header--home">
    <div class="cmp-site-header__logo">
      <div class="cmp-logo">
        <div class="cmp-logo__top"></div>
        <div class="cmp-logo__bottom"></div>
        <div class="cmp-logo__diagonal"></div>
      </div>
    </div>
    <div>
      <h1 class="cmp-site-header__title js-title">
        Philip Zastrow
      </h1>
      <p class="cmp-site-header__description" aria-label="Designer, Developer, Web Accessibility Specialist, Writer, Speaker, et al.">
        Designer and Developer<br>
        Web Accessibility Specialist<br>
        Writer, Speaker, et al.
      </p>
    </div>
  </div>
</div>
