<header>
  <h2 class="cmp-title">Projects</h2>
  <p>This is a collection of websites and open-source projects I’ve worked on and love to show off!</p>
</header>
<div class="cmp-projects-list">
{{ range $.Site.Data.projects }}
  <div class="cmp-projects-list__item">
    <div class="cmp-projects-list__content">
      <div class="cmp-projects-list__middle">
        <div class="cmp-chart-wrapper" aria-hidden="true">
          <div class="cmp-pie-chart"
               style="{{ range .stats }}--object-{{anchorize .type }}: {{.quantity}};{{end}}">
            <div class="cmp-pie-chart__piece cmp-pie-chart__piece--planning"></div>
            <div class="cmp-pie-chart__piece cmp-pie-chart__piece--project-lead"></div>
            <div class="cmp-pie-chart__piece cmp-pie-chart__piece--design"></div>
            <div class="cmp-pie-chart__piece cmp-pie-chart__piece--development"></div>
          </div>
        </div>
        <div class="cmp-projects-list__details">
          <h3 class="cmp-projects-list__title">
            {{ .name }}
          </h3>
          <ul class="cmp-pie-chart__keys">
          {{ range .stats }}
               <li class="cmp-pie-chart__key cmp-pie-chart__key--{{anchorize .type }}">{{ .type }}</li>
          {{ end }}
          </ul>
          <ul class="cmp-projects-list__links">
          {{ range .links }}
              <li class="cmp-projects-list__link">
                <a href="{{ .link }}" class="cmp-button cmp-button--small">{{ .text }}</a>
              </li>
          {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
{{ end }}
</div>