<ul class="cmp-video-list">
  {{ range $.Site.Data.videos }}
    <li class="cmp-video-list__item">
      <a href="https://www.youtube.com/watch?v={{ .ytcode }}" class="cmp-video-list__link">
        <h3 id="video-{{ .ytcode }}" class="cmp-video-list__title">{{ .title }}</h3>
        <img
          class="cmp-video-list__image"
          src="https://img.youtube.com/vi/{{ .ytcode }}/maxresdefault.jpg"
          aria-labelledby="video-{{ .ytcode }}"
        />
      </a>
    </li>
  {{ end }}
</ul>
