<ul class="cmp-video-list">
  {{ range $.Site.Data.videos }}
    <li class="cmp-video-list__item">
      <a href="https://www.youtube.com/watch?v={{ .ytcode }}" class="cmp-video-list__link" aria-label="Watch {{ .title }} on YouTube">
        <h3 id="video-{{ .ytcode }}" class="cmp-video-list__title">{{ .title }}</h3>
        <img
          class="cmp-video-list__image"
          src="/assets/video-thumbs/{{ .image }}"
          aria-labelledby="video-{{ .ytcode }}"
        />
      </a>
    </li>
  {{ end }}
</ul>
