blockquote:not([class]) {
	position: relative;
	margin: var(--space-lg) 0;
	padding: var(--space-lg);
	background-color: hsl(208deg 5% 10% / 5%);

	@media (prefers-color-scheme: dark) {
		background-color: hsl(208deg 5% 95% / 5%);
	}

	&::before {
		content: '';
		display: block;
		position: absolute;
		inset: 0 100% 0 auto;
		width: 0.25rem;
		background: var(--gradient) fixed;
	}

	p:not([class]) {
		margin: 0;
		font-style: italic;
	}
}
