code:not([class]) {
	background-color: var(--color-inline-code-background);
	display: inline-block;
	padding: 0 0.25em;
	border-radius: 0.25rem;
	color: var(--color-inline-code);
	font-family: var(--font-monospace);
	font-variation-settings: var(--monospace-var-light);
}
