h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]) {
  font-family: var(--font-secondary);
  font-variation-settings: var(--secondary-var-light);
  margin: 1em 0 0.5em;

  &:first-child {
    margin: 0 0 0.5em;
  }
}

h1:not([class]) {
  font-size: var(--font-xl);
  font-variation-settings: var(--secondary-var-regular);
}

h2:not([class]) {
  font-size: var(--font-xl);
  font-variation-settings: var(--secondary-var-light);
}

h3:not([class]) {
  font-size: var(--font-lg);
  font-variation-settings: var(--secondary-var-regular);
}

h4:not([class]) {
  font-size: var(--font-lg);
  font-variation-settings: var(--secondary-var-light);
}

h5:not([class]) {
  font-size: var(--font-md);
  font-variation-settings: var(--secondary-var-regular);
}

h6:not([class]) {
  font-size: var(--font-md);
  font-variation-settings: var(--secondary-var-light);
}
