kbd:not([class]) {
	background-image: linear-gradient(0deg, hsl(208deg 5% 100% / 20%), hsl(208deg 5% 0% / 10%));
	background-color: hsl(208deg 5% 95%);
	box-shadow:
	  inset 0 0 0.25rem hsl(208deg 5% 100%),
		0 0.25rem 0.25rem 0.125rem hsl(208deg 5% 85%),
		0 0.25rem 0 0.25rem hsl(208deg 5% 75%),
		0 0.25rem 0.75rem 0.25rem hsl(208deg 5% 0% / 10%);
	display: inline-block;
	padding: 0 0.25em;
	margin: 0 0.125em;
	line-height: 1.2;
	border-radius: 0.25rem;
	color: var(--color-gray-4);
	font-family: var(--font-primary);
	font-variation-settings: var(--monospace-var-light);
}
