.obj-width-limiter {
  margin: 0 auto;
  width: clamp(18rem, 95%, 100rem);
}

.obj-width-listing {
  margin: 0 auto;
  width: clamp(18rem, 95%, 80rem);
}

.obj-width-book,
.obj-width-twitter {
  margin: 0 auto;
  width: clamp(18rem, 95%, 60rem);
}

.obj-spacing-post {
  & + & {
    margin-top: calc(var(--gradient-padding) * 0.75);
  }
}

.obj-content-width {
  margin: 0 auto;
  max-width: 80ch;
}

.obj-block {
  padding: calc(var(--gradient-padding) * 0.25) 0;

  @media (min-width: mq(md)) {
    padding: calc(var(--gradient-padding) * 1.5) 0;
  }
}

.obj-block-content {
  @media (min-width: mq(md)) {
    padding: var(--space-lg);
  }
}
