.obj-gradient-block {
  padding: var(--gradient-padding) 0;
  position: relative;
  z-index: var(--z-1);
  background: var(--gradient) fixed;
  color: var(--color-light);

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    z-index: var(--z-1);
    pointer-events: none;
    background-color: var(--color-background);
    mask-size: cover;
  }

  &::before {
    top: 0;
    height: var(--gradient-padding);
    mask-image:
      linear-gradient(
        -178deg,
        #000 50%,
        #0008 calc(50% + 1px),
        #0008 calc(50% + 9px),
        #0000 calc(50% + 10px)
      );
  }

  &::after {
    bottom: 0;
    height: calc(var(--gradient-padding) * 1.5);
    mask-image:
      linear-gradient(
        -4deg,
        #000 50%,
        #0008 calc(50% + 1px),
        #0008 calc(50% + 9px),
        #0000 calc(50% + 10px)
      );
  }
}

.obj-gradient-block__interior {
  position: relative;
  z-index: var(--z-2);
  margin: calc(var(--gradient-padding) * -0.5) 0 calc(var(--gradient-padding) * 0.25);
}

.obj-gradient-block__content {
  position: relative;
  z-index: var(--z-3);
  margin: calc(var(--gradient-padding) * -1) 0;
  padding: var(--space-md) var(--space-sm);
  border-radius: var(--space-md);
  color: var(--color-text);
  background-color: hsl(208, 5%, 100%);
  box-shadow:
    0 0 0 2px hsl(0deg 0% 50% / 10%) inset,
    0 0 0 1px hsl(0deg 100% 100%) inset,
    0 0 2rem hsl(208deg 5% 85% / 50%) inset,
    0 2rem 2rem -1rem hsla(0dge 0% 0% / 50%);


  @media (min-width: $md) {
    margin: calc(var(--gradient-padding) * -1.5) 0;
    padding: var(--space-lg);
  }

  @media (prefers-color-scheme: dark) {
    background-color: hsl(208, 5%, 15%);
    box-shadow:
      0 0 0 2px hsl(0deg 0% 50% / 10%) inset,
      0 0 0 1px hsl(208deg 5% 15%) inset,
      0 0 2rem hsl(208deg 5% 15%) inset,
      0 2rem 2rem -1rem hsla(0deg 0% 0% / 50%);
  }

  @supports (backdrop-filter: blur(1px)) {
    backdrop-filter: blur(2rem);
    background-color: hsl(208deg 5% 100% / 90%);

    @media (prefers-color-scheme: dark) {
      background-color: hsla(208deg 5% 15% / 90%);
    }
  }
}
