.obj-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  
  @media (min-width: $md) {
    grid-template-columns: repeat(8, 1fr);
  }
  
  @media (min-width: $lg) {
    grid-template-columns: repeat(12, 1fr);
    gap: 4rem;
  }
  
  @media (min-width: $xl) {
    gap: 6rem
  }
  
  &__col {
    grid-column: auto / span 4;

    @media (min-width: $md) {
      grid-column: auto / span 8;
    }

    @media (min-width: $lg) {
      grid-column: auto / span 12;
    }
  }
  
  &__col--half {
    grid-column: auto / span 4;

    @media (min-width: $md) {
      grid-column: auto / span 4;
    }

    @media (min-width: $lg) {
      grid-column: auto / span 6;
    }
  }
}